html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.modal{
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.panel{
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;


}

.content{
    filter: blur(4px);
    
}

.scoreinputf{
    width: 35px;
}

.scoreinputb{
    width: 35px;
}

.scoreinput{
    width: 45px;
}

.scoreinputt{
    width: 45px;
}

.trashcan{
    color: red;
    width: 15px
}

.players{
    width: 150px;
}

.title{
    width: 150px;
    text-align: left;
    padding-left: 15px;
    
}

.holenum{
    width: 35px;
    text-align: center;
}

.holenumt{
    width: 45px;
}




