html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.modal{
    position: relative;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.panel{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 200px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

.scorecard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px
}

.content{
    filter: blur(4px);
    width: 1050px;
    height: 200px;
    border-radius: 15px; 
    background: gray;
    padding: 40px;
   
}

#coursepicked{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;

}

#teespicked{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;

}

#mainpage{
    background-image: url(golf.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#pinput{
    width: 35px;
    text-align: center;
}



.scoreinput{
    width: 45px;
    text-align: center;
}

.scoreinputt{
    width: 45px;
}

.trashcan{
    color: red;
    width: 15px
}

.players{
    width: 150px;
}

.title{
    width: 162px;
    text-align: left;
    padding-left: 15px;
    font: bold;
    border-style: black;
}

#yardout{
    display: flex;
    text-align: center;
    
}

#yardin{
    display: flex;
    text-align: center
}

.holes{
    width: 39px;
}
.yardsout{
    width: 39px;
    
}

.yardsin{
    width: 39px;
    
} 

.parsout{
    width: 39px;
    
}

.parsin{
    width: 39px;
    
} 

.hdps{
    width: 39px;
}

#parout{
    display: flex;
    text-align: center;
}

#parin{
    display: flex;
    text-align: center;
}
#handicap1{
    display: flex;
    text-align: center;
}

#courseholes{
    display: flex;

}
#Holes1{
    display: flex;
    text-align: center;
}

.totals{
    width: 48px;
    text-align: center;
}
#yard1{
    display: flex;
    text-align: center;
}







